.App {
  text-align: center;
  background-color: #eee;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.key-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  flex-direction: column;
}

.react-swipeable-view-container {
  flex-grow: 1;
}

.key-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.key {
  background-color: blueviolet;
  display: inline-block;
  margin: 10px;
  color: #fff;
  flex-grow: 1;
}

.directions-key-layout-wrapper {
  width: 100vw;
  position: relative;
  padding-top: 50%;
}

.directions-key-layout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  font-size: 100%;
}