.function-keys-layout {
  display: inline-flex;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.function-keys-layout>span {
  display: flex;
  pointer-events: all;
  font-size: inherit;
  margin: 5px;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}